#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 100px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;

}

#cart table tbody td {
    font-size: 13px;
}

#cart table tbody button {
    background-color: #fff; 
    color: #111; 
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#cart table tbody button:hover {
    background-color: #088178;
    color: #fff;
}

#cart table tbody button.remove {
    border: none;
}

#cart table tbody input {
    width: 60px; 
    text-align: center;
    margin: 0 8px;
    border: 1px solid #088178; 
    padding: 8px;
    border-radius: 4px;
    font-size: 16px; 
    color: #000; 
    background-color: #fff; 
    cursor: not-allowed;
}

#cart-proceed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#total button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#total table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.cart-header {
    background-image: url(../../public/assets/banners/b17.png);
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    /* Thêm đổ bóng cho chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}