.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer .col .logo {
    margin-bottom: 10px;
    width: 70%;
}

.footer .col .h4 {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer .col .follow .h4 {
    font-weight: bold;
    color: #222;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer .col .follow .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .col .p {
    color: #222;
    font-size: 13px;
    margin: 0 0 8px 0;
}

.footer .p {
    color: #222;
    font-size: 13px;
    margin: 0 0 8px 0;
}

.footer .col .link {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.footer .col .follow {
    margin-top: 20px;
    color: #c8e8e9;
    padding-right: 4px;
    cursor: pointer;
}

.footer .col .follow i:hover,
.footer .col .link:hover  {
    color: #088178;
}

.footer .copyright {
    width: 100%;
    text-align: center;
}

.section-p1 {
    padding: 40px 80px;
}