@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 80px;
    background: linear-gradient(to right, #c8e8e9, #eef6ff, #f6f6fa, #ecf5ff, #f8ded1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    /* position: relative; */

    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}
  
.navbar.hidden {
    /* CSS cho navbar khi nó ẩn đi */
    transform: translateY(-100%);
}

.navbar_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_right li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar_right li .link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}

.navbar_right li .link:hover {
    color: #f8ded1;
}

.navbar_right li .link:hover,
.navbar_right li .link.active {
    color: #02d330;
}

.navbar_right li .link.active::after,
.navbar_right li .link:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #02d330;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

.close {
    display: none;
}

.user-info{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    width: 280px;
    right: 3%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.45s;
}

.sub-menu-wrap.open-menu{
    max-height: 280px;
}

.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px
}

.user-info{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.user-info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info h3{
    font-weight: 500;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background:  #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 12px; 
}

.sub-menu-link span{
    font-size: 20px;
    margin-right: 10px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(7px);
    font-weight: 600;
}

.sub-menu-link:hover p{
    font-weight: 600;
}