#prodetails {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
}

#prodetails .single-pro-image { 
    width: 500px;
    height: 250px;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 60%;
    margin-left: 100px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details li{
    font-size: 15px;
    margin-bottom: 12px;
    list-style: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details p {
    line-height: 25px;
}

.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add styles for the modal content */
  .ReactModal__Content {
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Add styles for the modal close button */
  .ReactModal__Content button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #088178;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add hover effect for the modal close button */
  .ReactModal__Content button:hover {
    background-color: #08736c;
  }