@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


.product1 {
    text-align: center;
}

.product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro .image {
    width: 350px;
    height: 430px;
    border-radius: 20px;
}

.product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

.product1 .pro .dex h5 {
    padding-top: 7px;
    padding: #1a1a1a;
    font-size: 14px;
}

.product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.page-header {
    background-image: url(../../public/assets/banners/b17.jpg);
    width: 100%;
    height: 35vh;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    /* Thêm đổ bóng cho chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-header h2{
    color: #371a19;
}
.page-header h3{
    font-size: 30px;
    color: #371a19;
}

#pagination {
    text-align: center;
}

#pagination button {
    text-decoration: none;
    background-color: rgba(255, 242, 188, 0.385);
    padding: 15px 20px;
    margin: 0 3px;
    border-radius: 3px;
    color: #260c0c;
    font-weight: 600;
}

#pagination button i {
    font-size: 9px;
    font-weight: 600;
}