#cart table {
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 110px;
}

#cart table td:nth-child(1),
#cart table td:nth-child(2),
#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    /* width: 120px; */
    text-align: center;
    font-size: 15px;
}

.remove {
    font-size: 20px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
}

#cart table tbody button {
    background-color: #fff; 
    color: #111; 
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#cart table tbody button:hover {
    background-color: #088178;
    color: #fff;
}

#cart table tbody button.remove {
    border: none;
}

#cart table tbody input {
    width: 60px; 
    /* text-align: center; */
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 8px;
    border: 1px solid #088178;
    border-radius: 4px;
    font-size: 16px; 
    color: #000; 
    background-color: #fff; 
    cursor: not-allowed;
}

#cart-proceed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

#total {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #e2e9e1;
    padding: 30px;
}

#total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#total table td {
    font-size: 16px;
    width: 50%;
    border: 3px solid #e2e9e1;
    padding: 10px;
}

.checkout {
    background-color: #307a69;
    color: #fff;
    border: 1px solid #000000;
    padding: 12px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    width: 30%;
    margin-left: 35%;
}

.checkout:hover {
    box-shadow: 10px 10px 6px rgba(127, 127, 128, 0.1);
}

.cart-header {
    background-image: url(../../../public/assets/banners/b17.png);
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    /* Thêm đổ bóng cho chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}