.track-order-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.order-details,
.delivery-info,
.delivery-progress {
  margin-bottom: 20px;
}

.order-details table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.order-details table img {
  width: 100px;
}

.order-details table {
  table-layout: fixed;
  white-space: nowrap;
}

.order-details th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .order-details th {
    background-color: #f2f2f2;
  }

  .total-price {
    margin-top: 10px;
  }