@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


.product1 {
    text-align: center;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro .image {
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro .des h5 {
    font-size: 14px;
    color: #000000;
}

.product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.page-header {
    background-image: url(../../../public/assets/banners/b17.jpg);
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-header h2{
    color: #371a19;
}
.page-header h3{
    font-size: 30px;
    color: #371a19;
}

#pagination {
    text-align: center;
}

#pagination button {
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.385);
    padding: 15px 20px;
    margin: 0 3px;
    border-radius: 3px;
    color: #260c0c;
    font-weight: 600;
}

#pagination button.active {
    background-color: #badfdc;
    color: #000000;
}

#pagination button:hover {
    background-color: #badfdc;
    color: #000000;
}

#pagination button i {
    font-size: 10px;
    font-weight: 600;
}

.product1 .control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.filter-panel {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-left: 50px;
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.filter-panel select {
    flex-grow: 1; 
    margin-right: 8px; 
    padding: 2px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.filter-panel.show {
    opacity: 1;
    visibility: visible;
}

.sort-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.sort-part select {
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sort-part option {
    padding: 8px;
}

.no-results {
    padding: 18px 0;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    color: #000000;
    font-weight: 500;
}